<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

{% extends 'base.html' %}

    {% block content %}
<div class="mb-3 text-center bg-success text-white pt-3 pb-3 ">
    <h4 class="mb-2">Add New Student Information:</h4>
</div>
<form method="POST" action="add">

    {% csrf_token %}
    <label>ID:</label>
    <div>{{ form.eid }}</div>
    <label>Name:</label>
    <div>{{ form.ename }}</div>
    <label>Email:</label>
    <div>{{ form.eemail }}</div>
    <label>Contact:</label>
    <div>{{ form.econtact }}</div>
    <div>
        <button type="submit" class="btn btn-success mt-2" >Add</button>
    </div>
</form>
{% endblock %}
</div>
</body>
</html>