<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

<h1 class="text-center" style="color:green;">
    Welcome My Home Page
</h1>
<!--<img src="https://hackr.io/blog/python-programming-language/thumbnail/large">-->
<img src="https://images.squarespace-cdn.com/content/v1/5769fc401b631bab1addb2ab/1541580611624-TE64QGKRJG8SWAIUS7NS/ke17ZwdGBToddI8pDm48kPoswlzjSVMM-SxOp7CV59BZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI6FXy8c9PWtBlqAVlUS5izpdcIXDZqDYvprRqZ29Pw0o/coding-freak.gif?format=750w"
     class="img-fluid rounded mx-auto d-block">
<!--<p>-->
    <!--<a href = "load_form">Add New</a>-->
    <!--<a href = "show">Show All</a>-->
</p>
{% endblock %}
</body>
</html>